<div id="all-category" class="all-container">
  <div class="card">
    <div class="card-header">All Category</div>
    <div class="card-body">
      <div class="all-category-item-wrapper">
        <div class="categories-wrapper">
          <label class="categories-label" for="categories">Categories</label
          ><br />
          <select class="input-categories" id="all-categories"></select>
        </div>
        <div class="active-category-wrapper">
          <label class="active-label" for="active">Active</label><br />
          <input class="input-active" id="all-active" type="checkbox" />
        </div>
        <div class="active-category-wrapper">
          <label class="delete-label" for="delete">Delete Category</label><br />
          <input class="input-delete" id="all-delete" type="checkbox" />
        </div>
        <div class="all-category-btn-wrapper">
          <button type="button" onclick="addCategoryChanges()">save</button>
          <button type="button" onclick="closePopup()">back</button>
        </div>
      </div>
    </div>
  </div>
</div>
