<div id="login" class="login-container">
  <div class="card">
    <div class="card-header">Login</div>
    <div class="card-body">
      <div class="login-item-wrapper">
        <div>
          <label class="login-label" for="username">Username</label><br />
          <input
            class="input-username"
            id="username"
            id="username"
            type="text"
          />
          <p class="error-message error-username">Please enter your username</p>
        </div>
        <div class="password-wrapper">
          <label class="login-label" for="password">Password</label><br />
          <input
            class="input-password"
            id="password"
            for="password"
            type="password"
          />
          <p class="error-message error-password">Please enter your password</p>
        </div>
        <p class="error-message error-wrong">Username or password is wrong</p>
        <div class="btn-wrapper">
          <button class="btn-login" onclick="login()" type="button">
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
